http:
  port: "8081"

orderfulfillment-api:
  host: 
  basePath: 
  port: 
  protocol: 
  client_id: 
  client_secret: 
  
api:
  id: 
  
anypoint:
  platform:
    client_id: 
    client_secret:  
    visualizer:
      layer: "Experience"